  </div>
  <footer>
    <div>
      <a href="mailto:hi@swingtaiwan.com"><i class="fas fa-envelope fa-lg"></i></a>
      <a href="https://www.facebook.com/SwingTaiwan3"><i class="fab fa-facebook-f fa-lg"></i></a>
      <a href="https://www.instagram.com/swingtaiwan/"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="https://www.youtube.com/channel/UCiZDcKWwVPV413dj4fEcgow"><i class="fab fa-youtube fa-lg"></i></a>  
    </div>
    <div>
      <p>© Swing Taiwan 2021</p>
    </div>
  </footer>
  
</body>
</html>