<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swing Taiwan</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a class="logo" href="/">
        <img src="/images/st-logo.png" alt="Swing Taiwan">
      </a>
      <a href="#" class="nav-toggle">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="navbar-menu">
        <li><a href="/">首頁</a></li>
        <li><a href="/about">關於我們</a></li>
        <li><a href="/taste">報名體驗</a></li>
        <li><a href="/course">課程專區</a></li>
        <li><a href="/collaboration">合作活動</a></li>
        <li><a href="/signin">登入</a></li>
      </ul> 
    </nav>

  </header>
  <div class="content-container light-section">