<link rel="stylesheet" href="/css/about.css">

<%- include("partials/header") -%>

<div class="about-container">

  <h1>我們是 Swing Taiwan!</h1>

  <div class="short-intro">
    <p>2012 年 3 月，在台灣科技大學的一間研究室內，傳來陣陣聲響。</p>
    <p>地面在晃動，此起彼落的歡笑不斷湧出，</p>
    <p>一個讓美好事物不斷發生的場域，</p>
    <p>Swing Taiwan在這樣快樂氛圍下誕生。</p>
  </div>

  <div class="event left">
    <div class="subtitle-box">
      <i class="year">2010</i>
      <h2 class="subtitle">「我們因為swing，彼此有了連結」</h2>
      <div class="bottomline"></div>
    </div>
    <p>2010 年，偶然的機會參加了外國人舉辦的 swing 派對；就如一般的派對，在咖啡的香味和輕快的爵士音樂中，人們熱情的交談著。與我交談的女孩，突然邀我共舞；在如此歡愉的氣氛中，我實在很難用不會跳舞的理由拒絕他，只能戰戰兢兢地跟著她左右搖擺。我總是沒什麼節奏感，她的笑容彷彿又更證明了這點；然而我卻怡然自得，因為「Swing 裡的大家並不以舞取人，大家更重視社交溝通的過程」，創造一個友善的環境。在那當下，我決定替台灣創造一個如同 Swing 般的社交舞蹈環境，透過簡單的舞蹈和輕鬆的音樂，拉近人們彼此間的距離。</p>
  </div>

  <div class="event right">
    <div class="subtitle-box">
      <h2 class="subtitle">「為搖擺而旅行的嶄新生活」</h2>
      <i class="year">2011</i>
      <div class="bottomline"></div>
    </div>
    <p>我花了 8 個月，走遍 12 個國家尋找 swing 的魔力；所到之處都抓緊機會與當地人交流學習，試圖深入了解 swing 的特性，觀察各國所創造快樂體驗。從我的旅途中，發現瑞典赫朗（Herrang）舞蹈營；在這之中，一切事物都充滿著可能性。友善分享的環境，搭配上 swing 的魔力，總是讓人擁有勇氣放得開；產生的存在感使人際互動變得好玩；倍感溫馨的信任讓人心沒有距離。我像發現新大陸般驚豔，瑞典的舞蹈營，讓我的旅行更充滿意義，它將美好的事物用簡單的方式帶入你我的世界裡。</p>
  </div>

  <div class="event left">
    <div class="subtitle-box">
      <i class="year">2012</i>
      <h2 class="subtitle">「散播快樂、改變台灣」</h2>
      <div class="bottomline"></div>
    </div>
    <p>從 Herrang 的搖擺體驗中，讓我相信「當 Swing 成為生活中的一種節奏後，人生將會有了重大轉變」，所以我創辦了搖擺台灣，希望有一群人能把夢想越畫越大，讓這個新社交型態越滾越大，並將影響力散佈在台灣！我的願景是要用 Swing，讓台灣成為亞洲最快樂的國家之一。我希望用 Swing 創造出一種全新社交型態，讓人在搖擺旅程中獲得嶄新生活圈，進而產生友善、分享、改變的文化，Swing Taiwan 的故事等著你我共同創造！</p>
  </div>

  <h1>什麼是搖擺舞？</h1>

  <div class="short-intro">
    <p>搖擺舞(Swing Dance) 起源於1920 年代的美國，一開始是流行於黑人之間的舞蹈，</p>
    <p>到了1930、1940 年代，時遇美國經濟大蕭條，也是Swing Dance 崛起的時候。</p>
  </div>

  <p>當時大家生活苦悶，在週末希望有個安撫心靈的好去處，於是會在舞廳或是酒吧聆聽爵士樂或是跳舞，後來漸漸地Swing Dance 就在美國紐約流行起來，這種舞蹈的影響力才從黑人社區擴散到白人社交圈，也因為第二次世界大戰的關係，SwingDance 的魅力陸續襲捲到了歐洲，甚至到了上海。電影《風聲》， 裡面的舞蹈就是搖擺舞(SwingDance)，以及《大亨小傳》中的舞蹈查爾斯頓(charleston)，也是搖擺舞(Swing Dance) 裡面的支派。</p>
  <p>搖擺舞(Swing Dance)有將近百年的歷史，既復古又俏皮，並強調人與人之間的互動，不像國標舞每次都有固定的搭檔，Swing Dance 是一種『社交舞』幾乎每次都跟不同的人跳舞，並藉由跳舞來與人交流，通常一首歌的時間換一個舞伴，加上『爵士樂』是非常即興的，就算是同一首歌、同一個樂手演奏，都不會聽到一模一樣版本的音樂，它的隨性也很令人著迷，每次聽都有不一樣的感覺。</p>

</div>

<%- include("partials/footer") -%>

<script src="/js/about.js"></script>