<link rel="stylesheet" href="/css/collaboration.css">

<%- include("partials/header") -%>

<div class="page-container">

  <h1>合作活動</h1>

  <div class="grid-container">
    <div class="collaboration1">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>搖擺爵士廣場<br>大改造</h2>
        </div>
      </div>
    </div>
    <div class="collaboration2">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>兩廳院夏日<br>爵士派對</h2>
        </div>
      </div>
    </div>
    <div class="collaboration3">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>搖擺北門遇見<br>9m88 和黃子佼</h2>
        </div>
      </div>
    </div>
    <div class="collaboration4">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>白晝之夜<br>百人搖擺</h2>
        </div>
      </div>
    </div>
    <div class="collaboration5">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>台北情人節活動</h2>
        </div>
      </div>
    </div>
    <div class="collaboration6">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>搖擺北門遇見<br>9m88 和黃子佼</h2>
        </div>
      </div>
    </div>
    <div class="collaboration7">
      <div class="collaboration-overlay">
        <div class="text">
          <h2>台北情人節活動</h2>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer") -%>