<link rel="stylesheet" href="/css/course.css">

<%- include("partials/header") -%>

<div class="page-container">

  <h1>課程專區</h1>

  <div class="week-flex">
    <div class="day-flex">
      <div class="day">星期一</div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Lindy 1</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/17 開課</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期二</div>
      <div class="course">
        <h2 class="level">進階</h2>
        <p class="topic">Momentum</p>
        <p class="time">19:30-21:00</p>
        <p class="status">課程進行中</p>
      </div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Charleston 2</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/11 開課</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期三</div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Lindy 2</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/5 開課</p>
      </div>
      <div class="course">
        <h2 class="level">選修</h2>
        <p class="topic">Shim Sham</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/12 開課</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期四</div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Charleston 4</p>
        <p class="time">20:00-21:00</p>
        <p class="status">課程進行中</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期五</div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Lindy 3</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/28 開課</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期六</div>
      <div class="course">
        <h2 class="level">初階</h2>
        <p class="topic">Lindy 1</p>
        <p class="time">14:00-15:00</p>
        <p class="status open">5/8 開課</p>
      </div>
      <div class="course">
        <h2 class="level">選修</h2>
        <p class="topic">Solo Jazz</p>
        <p class="time">20:00-21:00</p>
        <p class="status open">5/22 開課</p>
      </div>
    </div>
    <div class="day-flex">
      <div class="day">星期日</div>
      <div class="course">
        <h2 class="level">進階</h2>
        <p class="topic">Musicality</p>
        <p class="time">20:00-21:30</p>
        <p class="status">課程進行中</p>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer") -%>