
<link rel="stylesheet" href="/css/home.css">

<%- include("partials/header") -%>

<section id="cover" class="dark-section">
  <div class="cover-img-carousel">
    <div class="carousel-container" id="imgs">
      <img src="/images/cover-img-1.jpg" alt="cover-img-1">
      <img src="/images/cover-img-2.jpg" alt="cover-img-2">
      <img src="/images/cover-img-3.jpg" alt="cover-img-3">
      <img src="/images/cover-img-4.jpg" alt="cover-img-4">
    </div>
    <div class="carousel-controls">
      <button class="btn" id="prev"><span style="color: rgba(255, 255, 255, 0.5);"><i class="fas fa-chevron-left fa-3x"></i></span></button>
      <button class="btn" id="next"><span style="color: rgba(255, 255, 255, 0.5);"><i class="fas fa-chevron-right fa-3x"></i></span></button>
    </div>
  </div>

</section>

<section id="about" class="light-section"><h1>關於我們</h1></section>
<section id="experience" class="dark-section"><h1>報名體驗</h1></section>
<section id="course" class="light-section"><h1>課程</h1></section>
<section id="collaboration" class="dark-section"><h1>品牌聯名 X 活動策畫</h1></section>
<section id="testimonial" class="light-section"><h1>學員心得</h1></section>



<%- include("partials/footer") -%>

<script src="/js/home.js"></script>