<link rel="stylesheet" href="/css/home.css">

<%- include("partials/header") -%>

<section id="cover" class="dark-section">
  <div class="cover-img-carousel">
    <div class="carousel-container" id="imgs">
      <img src="/images/cover-img-1.jpg" alt="cover-img-1">
      <img src="/images/cover-img-2.jpg" alt="cover-img-2">
      <img src="/images/cover-img-3.jpg" alt="cover-img-3">
      <img src="/images/cover-img-4.jpg" alt="cover-img-4">
    </div>
    <div class="carousel-controls">
      <button class="control-btn" id="prev"><i class="fas fa-chevron-left fa-3x"></i></button>
      <button class="control-btn" id="next"><i class="fas fa-chevron-right fa-3x"></i></button>
    </div>
  </div>
</section>

<section id="about" class="light-section">
  <h1>Swing Taiwan 與搖擺舞</h1>
  <div class="about-container">
    <div class="intro-text">
      <div class="about-st">
        <h2>我們是 Swing Taiwan!</h2>
        <p>2010 年 Wade 偶然的參加了外國人舉辦的 Swing 派對，一位女士的邀舞讓對舞蹈陌生的 Wade，驚喜的發現 Swing Dance 並非高深的舞技較勁，而是傳遞彼此自然流露的快樂，在那當下 Wade 決定替台灣創造一個如同 Swing 般的社交舞蹈環境，透過簡單的舞蹈和輕鬆的音樂，拉近人們彼此的距離。<a href="/about">更多介紹</a></p>
      </div>
      <div class="about-swing">
        <h2>什麼是搖擺舞？</h2>
        <p>起源於爵士樂盛行 20、30 年代的 Swing Dance，舞者會隨著音樂恣意旋轉搖擺，Swing Dance 特色在於現場的即興演奏表演，是隨性自由的社交舞，可雙人共舞或獨自 solo。相對於其他舞蹈，Swing Dance 易學、可愛，重視舞者間彼此交流，這些特質，讓它成為全世界最容易分享歡樂的舞蹈、風靡了英國、瑞典、香港、日本等國家！不需要有舞蹈基礎，半個小時就能學會基本舞步、跳完一整首曲子！<a href="/about">更多介紹</a></p>
      </div>
    </div>
    <div class="intro-video">
      <div class="intro-video-wrap">
        <iframe src="https://www.youtube.com/embed/7M-S3zl6OwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>  
  </div>
</section>

<section id="taste" class="dark-section">
  <div class="taste-layer">
    <h1>搖擺舞體驗</h1>
    <div class="taste-info">
      <p>☛ 新手報到時間：20:15 – 20:25</p>
      <p>☛ 新手體驗時間：20:30 – 21:00</p>
      <p>☛ 地址：台北市信義區松勤街50號 </p>
      <p>☛ 課程角色選擇： Swing Dance 雙人舞中，有 Leader 領舞者與 Follower 跟舞者兩種角色，目前 Leader 多為男性，Follower 多為女性。但隨著時代演變，大家都可以隨心所欲地選擇喜歡的角色，享受舞蹈唷！</p>  
      <a href="/taste"><button class="btn transparent-btn">我要報名體驗！</button></a>
    </div>  
  </div>
</section>

<section id="course" class="light-section">
  <h1>課程</h1>
  <div class="style-container">
    <div class="style">
      <img src="/images/course-img-1.jpeg" alt="course-image">
      <div class="style-overlay">
        <div class="text">
          <h2>Lindy</h2>
          <p>作為搖擺舞的一支，在 1920-1930 年代創建過程中，林迪舞受到了許多舞種的啟發，但影響最大的是爵士舞、踢踏舞和查爾斯頓舞。林迪舞的基本節奏為八拍。</p>
        </div>
      </div>
    </div>
    <div class="style">
      <img src="/images/course-img-2.jpeg" alt="course-image">
      <div class="style-overlay">
        <div class="text">
          <h2>Charleston</h2>
          <p>查爾斯頓舞是美國 1920-1930 年代流行的一種搖擺舞，以南卡羅來納州查爾斯頓城命名，其舞蹈旋律來源於 1923 年詹姆士·P·詹森在百老匯創作的《查爾斯頓》一歌。</p>
        </div>
      </div>
    </div>    <div class="style">
      <img src="/images/course-img-3.jpeg" alt="course-image">
      <div class="style-overlay">
        <div class="text">
          <h2>Balboa</h2>
          <p>Balboa 是一種搖擺舞，起源於 1920 年代的南加州。相較於 Lindy Hop，Balboa 的動作更小、音樂速度較快，不容易快速上手。</p>
        </div>
      </div>
    </div>
  </div>
  <a href="/course"><button class="btn dark-btn">查看所有課程</button></a>
</section>

<section id="collaboration" class="dark-section">
  <div class="slider-bg-container">
    <div class="slider-bg-overlay">
      <h1>品牌聯名 X 活動策畫</h1>
      <div class="slider-container">
        <div class="slide active" style="background-image: url('/images/collaboration-img-1.jpeg');"></div>
        <div class="slide" style="background-image: url('/images/collaboration-img-2.jpeg');"></div>
        <div class="slide" style="background-image: url('/images/collaboration-img-3.jpeg');"></div>
        <div class="slide" style="background-image: url('/images/collaboration-img-4.jpeg');"></div>
        <div class="slide" style="background-image: url('/images/collaboration-img-5.jpeg');"></div>
      </div>
      <button class="control-btn" id="left"><i class="fas fa-arrow-left"></i></button>
      <button class="control-btn" id="right"><i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</section>

<section id="testimonial" class="light-section">
  <h1>學員心得</h1>
  <div class="testimonial-container">
    <div class="progress-bar"></div>
    <div class="fas fa-quote-left fa-quote"></div>
    <div class="fas fa-quote-right fa-quote"></div>
    <div class="testimonial-text-box">
      <p class="testimonial-text">現在，正視跳舞的問題，是非常非常重要的。因為，透過逆向歸納，得以用最佳的策略去分析跳舞。儘管跳舞看似不顯眼，卻佔據了我的腦海。動機，可以說是最單純的力量。約翰遜說過一句經典的名言，心地善良的人，富於幻想的人比冷酷殘忍的人更容易聚合。這句話把我們帶到了一個新的維度去思考這個問題。</p>
    </div>
    <div class="student">
      <img src="/images/student-img-1.jpg" alt="student-image" class="student-image">
      <div class="student-details">
        <h4 class="student-name">書瑤</h4>
        <p class="student-role">會計師</p>
      </div>
    </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>

<script src="/js/home.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  swal({
    title: "本網站為個人練習",
    text: "文字、圖片資源皆來自網路，僅供練習展示使用。",
    icon: "info",
    button: "OK",
  });
</script>