
<link rel="stylesheet" href="/css/home.css">

<%- include("partials/header") -%>

<section id="cover" class="dark-section">
  <div class="cover-img-carousel">
    <div class="carousel-container" id="imgs">
      <img src="/images/cover-img-1.jpg" alt="cover-img-1">
      <img src="/images/cover-img-2.jpg" alt="cover-img-2">
      <img src="/images/cover-img-3.jpg" alt="cover-img-3">
      <img src="/images/cover-img-4.jpg" alt="cover-img-4">
    </div>
    <div class="carousel-controls">
      <button class="control-btn" id="prev"><span style="color: rgba(255, 255, 255, 0.5);"><i class="fas fa-chevron-left fa-3x"></i></span></button>
      <button class="control-btn" id="next"><span style="color: rgba(255, 255, 255, 0.5);"><i class="fas fa-chevron-right fa-3x"></i></span></button>
    </div>
  </div>
</section>

<section id="about" class="light-section">
  <h1>Swing Taiwan 與搖擺舞</h1>
  <div class="about-container">
    <div class="intro-text">
      <div class="about-st">
        <h2>我們是 Swing Taiwan!</h2>
        <p>2010 年 Wade 偶然的參加了外國人舉辦的 Swing 派對，一位女士的邀舞讓對舞蹈陌生的 Wade，驚喜的發現 Swing Dance 並非高深的舞技較勁，而是傳遞彼此自然流露的快樂，在那當下 Wade 決定替台灣創造一個如同 Swing 般的社交舞蹈環境，透過簡單的舞蹈和輕鬆的音樂，拉近人們彼此的距離。<a href="/about">更多介紹</a></p>
      </div>
      <div class="about-swing">
        <h2>什麼是搖擺舞？</h2>
        <p>起源於爵士樂盛行 20、30 年代的 Swing Dance，舞者會隨著音樂恣意旋轉搖擺，Swing Dance 特色在於現場的即興演奏表演，是隨性自由的社交舞，可雙人共舞或獨自 solo。相對於其他舞蹈，Swing Dance 易學、可愛，重視舞者間彼此交流，這些特質，讓它成為全世界最容易分享歡樂的舞蹈、風靡了英國、瑞典、香港、日本等國家！不需要有舞蹈基礎，半個小時就能學會基本舞步、跳完一整首曲子！<a href="/about">更多介紹</a></p>
      </div>
    </div>
    <div class="intro-video">
      <div class="intro-video-wrap">
        <iframe src="https://www.youtube.com/embed/7M-S3zl6OwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>  
  </div>
</section>

<section id="taste" class="dark-section">
  <div class="taste-layer">
    <h1>搖擺舞體驗</h1>
    <div class="taste-info">
      <p>☛ 新手報到時間：20:15 – 20:25</p>
      <p>☛ 新手體驗時間：20:30 – 21:00</p>
      <p>☛ 地址：台北市信義區松勤街50號 </p>
      <p>☛ 課程角色選擇： Swing Dance 雙人舞中，有 Leader 領舞者與 Follower 跟舞者兩種角色，目前 Leader 多為男性，Follower 多為女性。但隨著時代演變，大家都可以隨心所欲地選擇喜歡的角色，享受舞蹈唷！</p>  
      <a href="/taste"><button class="btn light-btn">我要報名體驗！！</button></a>
    </div>  
  </div>
</section>

<section id="course" class="light-section">
  <h1>課程</h1>
  <a href="/course"><button class="btn dark-btn">查看所有課程</button></a>
</section>

<section id="collaboration" class="dark-section">
  <h1>品牌聯名 X 活動策畫</h1>
</section>

<section id="testimonial" class="light-section">
  <h1>學員心得</h1>
</section>

<%- include("partials/footer") -%>

<script src="/js/home.js"></script>