
<%- include("partials/header") -%>

<section id="cover" class="dark-section">
  <h1>封面圖</h1>
  
</section>

<section id="about" class="light-section"><h1>關於我們</h1></section>
<section id="experience" class="dark-section"><h1>報名體驗</h1></section>
<section id="course" class="light-section"><h1>課程</h1></section>
<section id="collaboration" class="dark-section"><h1>品牌聯名 X 活動策畫</h1></section>
<section id="testimonial" class="light-section"><h1>學員心得</h1></section>



<%- include("partials/footer") -%>