<link rel="stylesheet" href="/css/signin.css">

<%- include("partials/header") -%>

<div class="page-container">

  <div class="signin-container">
    <h1>登入</h1>

    <input type="email" id="email" name="email" placeholder="請輸入 Email">
    <input type="password" id="pwd" name="pwd" placeholder="請輸入密碼">
    <input type="checkbox" name="login-remember" id="login-remember"><label for="login-remember">記住我</label>
    <a href="">忘記密碼？</a><br>

    <button class="btn login-facebook"><i class="fab fa-facebook"></i><div class="text">使用 Facebook 登入</div></button><br>
    <button class="btn login-gmail"><i class="fab fa-google"></i><div class="text">使用 Gmail 登入</div></button>
    <p>還不是學員？&nbsp;&nbsp;&nbsp;<a href="">註冊</a></p>
  </div>

</div>

<%- include("partials/footer") -%>