<link rel="stylesheet" href="/css/signin.css">

<%- include("partials/header") -%>

<div class="page-container">

  <div class="signin-container">
    <h1>登入</h1>

    <div class="signin-area">
      <input type="email" id="email" name="email" placeholder="請輸入 Email">
      <input type="password" id="pwd" name="pwd" placeholder="請輸入密碼">
      <div class="remember-forgot">
        <div class="login-remember">
        <input type="checkbox" id="login-remember" name="login-remember"><label for="login-remember">記住我</label>
        </div>
        <a href="" class="forgot-password">忘記密碼？</a><br>
      </div>

      <div class="form-divider">
        <hr>
        <span>或</span>
        <hr>
      </div>

      <button class="btn login-facebook"><i class="fab fa-facebook"></i><div class="text">使用 Facebook 登入</div></button><br>
      <button class="btn login-gmail"><i class="fab fa-google"></i><div class="text">使用 Gmail 登入</div></button>
      <p>還不是學員？&nbsp;&nbsp;&nbsp;<a href="">註冊</a></p>
    </div>

  </div>

</div>

<%- include("partials/footer") -%>