<link rel="stylesheet" href="/css/taste.css">

<%- include("partials/header") -%>

<div class="page-container">

  <h1>報名體驗</h1>

  <div class="flex-container">
    <div class="box box1">

    </div>
    <div class="box box2">

    </div>
  </div>

</div>

<%- include("partials/footer") -%>