@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");

.short-intro {
	line-height: 1.6;
	text-align: center;
	padding-bottom: 1rem;
}

.event {
	margin: 1rem 0;
}

.event .subtitle-box {
	max-width: 100%;
	height: 84px;
}

.event .year {
	display: inline-block;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Josefin Sans", sans-serif;
	padding: 0 10px;
}

.event .subtitle {
	display: inline-block;
	margin: 1rem 0;
}

.event.right {
	text-align: right;
}

.event .bottomline {
	width: calc(100% - 100px);
	height: 1px;
	background-color: black;
	margin-bottom: 1rem;
}

.event.left .bottomline {
	margin-left: 100px;
}

.event.right .bottomline {
	margin-right: 100px;
}

/* scroll animation */

.event.left .subtitle-box .year {
	transform: translateX(-1000%);
}

.event.left .subtitle-box .subtitle,
.event.left .subtitle-box .bottomline {
	transform: translateX(500%);
}

.event.right .subtitle-box .year {
	transform: translateX(1000%);
}

.event.right .subtitle-box .subtitle,
.event.right .subtitle-box .bottomline {
	transform: translateX(-500%);
}

.event.left .subtitle-box.show .year,
.event.left .subtitle-box.show .subtitle,
.event.left .subtitle-box.show .bottomline,
.event.right .subtitle-box.show .year,
.event.right .subtitle-box.show .subtitle,
.event.right .subtitle-box.show .bottomline {
	transform: translateX(0);
	transition: transform 1s ease-out;
}

.intro-wrapper img {
	width: 40%;
}

.intro-wrapper .swing-img1 {
	float: left;
	margin-right: 20px;
}

.intro-wrapper .swing-img2 {
	float: right;
	margin-left: 20px;
}

.intro-wrapper p {
	text-indent: 2rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.event .year {
		display: none;
	}

	.event .subtitle {
		font-size: 1.2rem;
	}

	.event .bottomline {
		width: 100%;
	}

	.event.left .bottomline {
		margin-left: 0;
	}

	.event.right .bottomline {
		margin-right: 0;
	}

	.intro-wrapper img {
		width: 100%;
	}

	.intro-wrapper .swing-img1 {
		clear: left;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.intro-wrapper .swing-img2 {
		clear: right;
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
