.grid-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 10px;
	aspect-ratio: 4/3;
}

.grid-container > div {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.div1 {
	grid-area: 1 / 1 / 3 / 4;
	background-image: url("/images/collaboration-img-1.jpeg");
}

.div2 {
	grid-area: 1 / 4 / 3 / 6;
	background-image: url("/images/collaboration-img-2.jpeg");
}

.div3 {
	grid-area: 1 / 6 / 4 / 9;
	background-image: url("/images/collaboration-img-3.jpeg");
}

.div4 {
	grid-area: 3 / 1 / 7 / 3;
	background-image: url("/images/collaboration-img-9.jpeg");
}

.div5 {
	grid-area: 3 / 3 / 5 / 6;
	background-image: url("/images/collaboration-img-7.jpeg");
}

.div6 {
	grid-area: 5 / 3 / 7 / 6;
	background-image: url("/images/collaboration-img-8.jpeg");
}

.div7 {
	grid-area: 4 / 6 / 7 / 9;
	background-image: url("/images/collaboration-img-6.jpeg");
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
