.week-flex {
	display: flex;
	flex-direction: row;
	/* column-gap: 9px; */
	overflow-x: scroll;
	padding: 5px;
}

.day-flex {
	display: flex;
	flex-direction: column;
	/* row-gap: 10px; */
	min-width: 95px;
	text-align: center;
	margin-right: 9px;
}

.day {
	background-color: var(--main-transparent-color);
	padding: 5px;
	margin-bottom: 10px;
}

.course {
	width: 100%;
	border: 2px solid var(--main-transparent-color);
	border-radius: 15px;
	padding: 5px 0;
	margin-bottom: 10px;
	/* cursor: pointer; TODO: modal box on click */
}

.course:hover {
	box-shadow: 0 0 0 4px var(--main-transparent-color);
}

.course h2 {
	margin: 0;
}

.course p {
	font-size: 0.8rem;
	font-weight: 700;
}

.status {
	color: #125a12;
}

.status.open {
	color: #941616;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
