.signin-container {
	margin: 1rem auto;
	border: 5px double var(--main-dark-color);
	border-radius: 30px;
	max-width: 500px;
	text-align: center;
}

.signin-area {
	width: 250px;
	margin: 0 auto;
}

input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 12px 20px;
	border: 1px solid var(--main-light-color);
}

input[type="email"] {
	border-radius: 10px 10px 0 0;
	margin-bottom: -1px;
}

input[type="password"] {
	border-radius: 0 0 10px 10px;
}

.remember-forgot {
	margin-top: 10px;
	margin-bottom: 20px;
}

.login-remember {
	float: left;
}

.forgot-password {
	float: right;
}

.form-divider {
	display: flex;
}

.form-divider hr {
	width: 40%;
	height: 1px;
	margin: auto;
}

.signin-area .btn {
	margin: 0;
}

.btn .text {
	display: inline-block;
	width: 180px;
	text-align: center;
	font-size: 1rem;
}

.btn.login-facebook,
.btn.login-gmail {
	width: 100%;
}

.btn.login-facebook {
	margin-top: 20px;
	margin-bottom: 5px;
}

.btn.login-gmail {
	margin-top: 5px;
	margin-bottom: 20px;
}

.btn.login-facebook i {
	color: #2788fc;
}

.btn.login-gmail i {
	color: #fcbc27;
}

.signin-container p {
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
