* {
	box-sizing: border-box;
}

:root {
	--main-dark-color: rgb(89, 56, 30);
	--main-light-color: rgb(214, 193, 176);
	--main-transparent-color: rgba(89, 56, 30, 0.5);
}

body {
	margin: 0;
	font-family: "Noto Sans TC", sans-serif;
}

.content-container {
	margin-top: 81.23px;
	min-height: calc(100vh - 90px - 64px);
	overflow: hidden;
	background-color: var(--main-light-color);
	background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
}

.page-container {
	max-width: 768px;
	margin: auto;
	padding: 20px;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
	margin: 0;
	line-height: 1.8;
}

::selection {
	color: var(--main-light-color);
	background: var(--main-dark-color);
}

/* header & navbar */

.navbar {
	margin-bottom: 30px;
	margin: 0 auto;
	background-color: var(--main-dark-color);
	padding: 10px 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 100;
}

.logo {
	display: inline-block;
	padding: 10px 0;
}

.logo img {
	width: 80px;
}

.navbar-menu {
	float: right;
	padding-inline-start: 0;
	margin: 8px 0;
}

.navbar-menu > li {
	display: inline-block;
}

.navbar-menu > li > a {
	display: block;
	padding: 10px 5px;
	color: lightgray;
	text-decoration: none;
}

.navbar-menu > li > a:hover,
.navbar-menu > li > a:focus {
	color: white;
}

.nav-toggle {
	float: right;
	display: none;
	padding: 10px;
	margin: 17px 0;
	color: var(--main-light-color);
}

/* footer */

footer {
	background-color: var(--main-dark-color);
	color: lightgray;
	padding: 10px;
	text-align: center;
	width: 100vw;
}

.fa-envelope,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
	color: lightgray;
	padding: 5px;
}

.fa-envelope:hover,
.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: white;
}

footer p {
	margin: 5px 0 0 0;
	font-size: 0.8rem;
}

/* buttons */

.btn {
	margin: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	border-radius: 0.4rem;
	border: none;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.btn {
	cursor: pointer;
}

.light-btn {
	background-color: white;
	color: black;
}

.dark-btn {
	background-color: var(--main-dark-color);
	color: white;
}

.transparent-btn {
	background-color: transparent;
	color: white;
	border: 1px solid white;
}

.transparent-btn:hover {
	background-color: white;
	color: black;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	html {
		font-size: 14px;
	}
	.navbar-menu {
		float: none;
		display: none;
	}
	.navbar-menu.active {
		display: block;
	}
	.navbar-menu > li {
		display: block;
	}
	.nav-toggle {
		display: inline-block;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
