* {
	box-sizing: border-box;
}

:root {
	--main-color: rgb(60, 40, 150);
}

body {
	margin: 0;
	font-family: "Noto Sans TC", sans-serif;
}

header {
	background-color: var(--main-color);
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	list-style-type: none;
}

nav ul li {
	display: inline;
}

.nav-right {
	padding: 10px;
}

.nav-right a {
	color: lightgray;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 10px;
}

.nav-right a:hover {
	color: white;
}

.content-container {
	margin-top: 70px;
	min-height: calc(100vh - 70px - 64px);
}

footer {
	background-color: var(--main-color);
	color: lightgray;
	padding: 10px;
	text-align: center;
	width: 100vw;
}

.fa-envelope,
.fa-facebook-f,
.fa-instagram,
.fa-youtube {
	color: lightgray;
	padding: 5px;
}

.fa-envelope:hover,
.fa-facebook-f:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: white;
}

footer p {
	margin: 5px 0 0 0;
	font-size: 0.6rem;
}
